/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  scroll-behavior: smooth;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */



 

  
  main{
    width:100%;
  }

body{
  margin:0px;
  font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
  background: #f5f5f5;

  
  height: 100vh;
}

.emailpersonaimg img{
  width:100%;
}





.img-container {
  position: relative;
  display: inline-block;
}



#style{
  margin-top: 40px;
  display:flex;
  flex-direction: column;
  margin-top: 20px;
  justify-content: center;
      align-items: center;
}

#style img{
  margin-top: 20px;
}

.img-container .hover-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Dark overlay */
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.5s ease;
  font-size: 24px; /* Example font size */
}

.img-container:hover .hover-text {
  opacity: 1;
}



.intro{
  margin-top: 300px;
  text-align: center; /* Center the text inside the section */
  margin-bottom: 200px;
  display:flex;
  flex-direction: column;

}

.intro h1{
  font-size: 45px;
  margin: 0 0 10px 0;
  
}

.workbutton{
  background-color: linear-gradient(to right, red , yellow);
}

.wrapper{
  display:flex;
  margin: 10px;
  flex-direction: column;
  
}

body .btn,
body .btn2 {
  text-decoration: none;
  width: 300px;
  height: 100px;
  font-size: 30px;
  text-align: center;
  line-height: 100px;
  color: rgba(255,255,255,0.9);
  border-radius: 50px;
  background: linear-gradient(-45deg, #ffa63d, #ff3d77, #338aff, #3cf0c5);
  background-size: 600%;
  -webkit-animation: anime 16s linear infinite;
          animation: anime 16s linear infinite;

  align-self:center;
  
  transition: transform 0.3s ease;

}
body .btn2 {
  position: absolute;
  margin-top: -70px;
  z-index: -1;
  filter: blur(30px);
  opacity: 0.8;
}
@-webkit-keyframes anime {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes anime {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}



.fullprocess iframe{
  width:500px;
}

.fullprocess{
  display:flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom:20px;
  margin-top:20px;
  text-align: center;
}

.fullprocess h2{
  padding:10px;
}




#workleft{
  display: flex;
  flex-direction: column;
}

#workright{
  display: flex;
  flex-direction: column;
}

hr{
  color:black;
  height:1px;
  width:90%;
  display:flex;
  flex-direction: column;
  align-self: center;
  margin-bottom: 40px;


}


section{
  scroll-behavior: smooth;
}



footer{
  margin-top: auto;
  background-color: #220066;
  color:white;
  text-align: center;
  height:50px;
  padding:10px;
  font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
  
}

.letstalk h1{
  font-size: 35px;

}

.letstalk a{
  font-size: 20px;

  color:white;
  text-decoration: none;
}

.letstalk a:hover{
  text-decoration: underline;
}

input[type=text], select, textarea {

  padding: 12px; 
  border: 1px solid #ccc; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical ;
  
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color:#220066;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  border-style: solid;
  border-color: #220066;
}


input[type=submit]:hover {
  background-color: white;
  border-style: solid;
  border-color: #220066;
  color:#220066;
}


#left{
  display:flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  padding:20px;
}

br{
  width:1px;
  color:black;
  width:90%;
}

.work{
  display:flex;
  flex-direction: column;
  margin:20px;
  align-items: center;
  padding-bottom: 30px;
  width:100%;
}

#workleft{
  display:flex;
  flex-direction: row;
  align-items: center;
 
}

#finalui{
  display:flex;
  flex-direction: column;
  margin-top: 20px;
  justify-content: center;
      align-items: center;
}
#wireframes{
  display:flex;
  flex-direction: column;
  margin-top: 20px;
  justify-content: center;
      align-items: center;
}

#workright{
  display:flex;
  flex-direction: column;
  align-items: center;
  
}

#workleft{
  display:flex;
  flex-direction: column;
  align-items: center;
  
}


#img{
  margin-top: 20px;
  margin-bottom: 20px;
  border-style: solid;
  border-width: .1px;
  border-color: #ccc;
  width:100%;
}

.work a:hover{
  border: .5px;
  border-style: solid;
  border-color: #000;
  opacity: 85%;
  

}


form{
  display:flex;
  flex-direction: column;
}

.form{
  margin-left:10%;
  margin-right:10%;
  margin-bottom: 40px;

  
    background-color: #f2f2f2;
    padding: 20px;
    margin-top:40px;
    

  
}

.letstalk{
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: black;
  text-align:center;
  color:white;
}

.appdemo{
  display:flex;
  flex-direction: column;
  align-items: center;
  padding:20px;
}

.chinatti{
  display:flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding:20px;
}

#savory1left{
  display:flex;
  flex-direction: column;
  
  
}

.savory h1{
  font-size: 35px;
}

.appwire{
  display:flex;
  flex-direction: column;
  width:100%;
}

.savory1{
  display:flex;
  flex-direction: column;
  
 margin-top: 20px;
 margin-left:10px;
 margin-right:10px;
  
 
  text-align: left;

}

.savory1 img{
  padding:10px;
}

.savorystate{
  padding:20px;
}

.savoryusers{
  display:flex;
  flex-direction: column;
  
}

.savoryusers h1{
  display:flex;
  align-self: center;
}




#savory1right{

}

h3{
  margin-top:0px;
}

.emailimg{
  display:flex;
  flex-direction: column;
  align-items: center;
}

.emailimg img{
  padding:10px;
  padding-bottom:20px;
}

.sizing-img {
  object-fit:cover;
  width: 100%;
  height: auto;
  vertical-align: middle;
  overflow: hidden;
}



.iframe-container {
  position: relative;
  width: 80%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
  margin: 20px 0;
}

.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
  border: none;
}

.image-container{
  display:flex;
  flex-direction: column;
  width:100%;
}

#headshot img{
  width:100%;
}

.app1{
  display:flex;
  flex-direction: column;
}

.app2{
  display:flex;
  flex-direction: column;
}

.image-container img{
  width:100%;
  padding-top:15px;
  padding-bottom:15px;
}

header{
  background-color: #000;
  color:white;
  display:flex;
  flex-direction:column ;
  text-align: center;
}

.appstyle img{
  width:100%;
}

.savorymobilewire{
  display:flex;
  flex-direction: column;
}

ul{
  list-style-type: none;
  margin:0px;
  padding:0px;
}

nav a{
  color:white;
  text-decoration: none;
 
}

.headshot img{
  margin:0px;
  padding:0px;
}

.emaildesigns{
  width:100%;
}

.emaildesigns img{
  width:100%;
}

li{
  padding-top: 10px;
  padding-bottom: 10px;
}

.savorywebwire{
  display:flex;
  flex-direction: column;
}

.savoryrow1{
  display:flex;
  flex-direction: column;
}

.savoryrow2{
  display:flex;
  flex-direction: column;
}

.whysubstance{
  display:flex;
  flex-direction: column;
}

.whysubstance img{
  width:100%;
}

h3{
  margin:0;
}

button{
  width:200px;
  height:50px;
  background-color: #009A9A;
  color:white;
  border-style:none;
}

button a{
  color:white;
  text-decoration: none;
}

#thinpic img{
  width:70%;
  display: flex;
}

.whysubstance a{
  text-decoration: underline;
}

#journey{
  display:flex;
  flex-direction: column;
  
}

#journey img{
  width:100%;
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */

  .intro{
  
  }

  .whysubstance{
    display:flex;
    flex-direction: row;
  }

header{
  flex-direction: row;
}


  #workleft{
    display:flex;
    flex-direction: row;
  }
 
  #workleft{
    display:flex;
    flex-direction: row;
  }

  #workright{
    display:flex;
    flex-direction: row;

  }

  .savorymobilewire{
    display:flex;
    flex-direction: row;
  }

  .savorymobilewire img{
    width:33%;
    height:100%;
  }

  .lastimg img{
    width:15%;
  }

  #headshot img{
    width:30%;
  }

  .wrapper{
    margin-left:10%;
    margin-right:10%;
  }

  .savoryrow1{
    display:flex;
    flex-direction: row;
  }
  
  .savoryrow2{
    display:flex;
    flex-direction: row;
  }

  .savoryrow1 img{
    width:50%;
  }

  .savoryrow2 img{
    width:50%;
  }

  #img{
    margin:30px;
  
  }

  .letstalk{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .appwire{
    display:flex;
    width:100%;
  }

  .form{
    width:30%;
  }

  #left{
    text-align: left;
    padding-left: 10%;

  }

  .app1{
    display:flex;
    flex-direction: row;
    width:100%
  }
  
  .app2{
    display:flex;
    flex-direction: row;
    width:100%;
  }

  .emailpersonaimg img{
    height:100%;
  }

  .appwire img{
    width:50%;
    height:100%;
  }

  nav{
    display:flex;
    flex-direction: row;
    align-items:center;
    width:100%;
    justify-content: space-between;

  }

  nav li{
    padding-left:20px;
    padding-right:20px;
  }

  nav h1{
    padding-left:20px;
  }

  .emailpersonaimg img{
    width:33%;
  }

  .image-container{
    justify-content: center;
    align-items: center;
  }

  .appstyle img{
    width:50%;
  }

  .appstyle{
    display:flex;
    flex-direction: row;
  }

  .emaildesigns{
    display:flex;
    flex-direction: row;
  }

  .emaildesigns img{
    width:100%;
  }

  .emailpersonas{
    display:flex;
    flex-direction: column;
    width:100%;
  }

  .emailpersonaimg{
    display:flex;
    flex-direction: row;
    width:100%;

  }

  .image-container img{
   margin-left: 10px;
    margin-right: 10px;
    width:500px;
  }
ul{
  display:flex;
  flex-direction: row;
  text-align: center;
}

.row1{
  display:flex;
  flex-direction: row;
}
.row2{
  display:flex;
  flex-direction: row;
}
.row3{
  display:flex;
  flex-direction: row;
}
  

  .savory1 h1 {
    font-size: 35px;
    font-weight:800;
  }

  .process h2 {
    font-size: 20px;
  }

  .emailimg img {
    width: 100%;
  }

  .iframe-container {
      padding-top: 75%; /* Adjust ratio for a taller aspect on smaller screens */
    }

  #savoryright{
    display:flex;
    align-items: center;

   
  }

  .chinatti{
    display:flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
  }
  
  .savory1{
  
    
  }

  .savory1{
    margin-left:10%;
    margin-right:10%;
  }
  
  .savorystate{
    margin-left:5%;
    margin-right:5%;
  }
  
  .process{
    text-align: center;
    margin: 40px 0;
    justify-content: center;
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        margin-bottom: 0%;
    }
  

  #personas{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
  }

  #personas img{
    margin-top:20px;
  }

  .process img{
    width:85%;
  }
 

  .process h2{
    font-size: 24px;
    color: #222;
    margin-bottom: 20px;
  }

  .demos{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin:20px;
  }

  .emailimg{
    display:flex;
    flex-direction: row;
    padding:20px;
    justify-content: center;
  }

  

  .chinatti{
    display:flex;
    justify-content: center;
  }

  #chinattileft{
    display:flex;
    flex-direction: column;
    text-align: center;
    margin:30px;
  }

  #chinattiright{
    display:flex;
    flex-direction: column;
    text-align: center;
    margin:30px;
  }



  

  


  #workleft{
    flex-direction: row;
  }


  
  #workright{
    display:flex;
  flex-direction: row;
  align-items: center;
    

  }


}

 
  
 
  



 
  
  


@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

